body {
  color: #003F63;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.App {
  text-align: center;
}

.header {
  padding: 10px;
  text-align: center;
}

.error {
  color: #EB4257;
  font-weight: bold;
  margin: 10px;
}

.headerIcon {
  position: absolute;
  left:10px;
}

.arrayCountInput {
  border: 1px solid #000000;
  border-radius: 2px;
  min-width: 30px;
  max-width: 3vw;
  min-height: 20px;
  margin: 10px;
  text-align: center;
}

.arrayCountInput:focus {
  box-shadow: 0 0 3px #003F63;
}

.arrayCountInputError {
  box-shadow: 0 0 3px #EB4257;
  border: 1px solid #EB4257;
  border-radius: 2px;
  min-width: 30px;
  max-width: 3vw;
  min-height: 20px;
  margin: 10px;
  text-align: center;
}

.arrayCountInputError:focus {
  box-shadow: 0 0 4px #EB4257;
}

.arrayInputElementsContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
 
.arrayInputElementContainer {
  margin: 5px;
}

.arrayInputElement {
  min-width: 30px;
  max-width: 2vw;
  max-height: 2vh;
  margin: 5px;
}

.arrayInputElementError {
  box-shadow: 0 0 3px #EB4257;
  border: 1px solid #EB4257;
  min-width: 30px;
  max-width: 2vw;
  max-height: 2vh;
  margin: 5px;
}

.arrayInputElementLabel {
  font-size: 12px;
}

.arrayJumpElement {
  font-size: 40px;
  color: green;
}

.arrayElement {
  font-size: 40px;
}

.arrayError {
  color: red;
}

.submitButton {
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background-color: rgba(0, 63, 99, 1);
  min-height: 30px;
  margin: 10px;
}

.submitButton:disabled {
  cursor: default;
  background-color:rgba(0, 63, 99, 0.5);
}

.note {
  margin: 10px;
}
